<div class="span-24">
	<% form_for(@merchant) do |f| %>
		<% unless @merchant.errors.blank? %>
			<div class="span-16 error">
				<%= f.error_messages %>
			</div>
		<% end %>
	
		<div class="span-24">
	 	 <p>
		    <%= f.label :name %><br />
		    <%= f.text_field :name, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :address %><br />
		    <%= f.text_field :address, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :phone_number %><br />
		    <%= f.text_field :phone_number, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :website %><br />
		    <%= f.text_field :website, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :tags %><br />
		    <%= f.text_field :tags, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.submit 'Update' %>
		  </p>
		</div>
	<% end %>

	<div class="span-24">
		<div class="span-2">
			<%= link_to 'Back', merchants_path, :class => 'button' %>
		</div>
		<div class="span-22 last">
			<%= link_to 'Show', @merchant, :class => 'button positive' %>
		</div>
	</div>
	
</div>