<div class="span-24">
	<% form_for(@item) do |f| %>
	  <% unless @item.errors.blank? %>
			<div class="span-16 error">
				<%= f.error_messages %>
			</div>
		<% end %>

		<div class="span-24">
	  	<p>
		    <%= f.label :name %><br />
		    <%= f.text_field :name, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :price %><br />
		    <%= f.text_field :price, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :currency %><br />
		    <%= f.text_field :currency, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :tags %><br />
		    <%= f.text_field :tags, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.label :description %><br />
		    <%= f.text_area :description %>
		  </p>
		  <p>
		    <%= f.label :rating %><br />
		    <%= f.text_field :rating, :class => 'text' %>
		  </p>
		  <p>
		    <%= f.submit 'Update' %>
		  </p>
		</div>
		
	<% end %>

	<div class="span-24">
		<div class="span-2">
			<%= link_to 'Back', items_path, :class => 'button' %>
		</div>
		<div class="span-22 last">
			<%= link_to 'Show', @item, :class => 'button positive' %>
		</div>
	</div>
	
</div>